.config/opencode/*
!.config/opencode/commands
!.config/opencode/AGENTS.md
!.config/opencode/opencode.json
!.config/opencode/README.md
!.config/opencode/oh-my-opencode.json
!.config/opencode/antigravity.json
!.config/opencode/smart-voice-notify.jsonc
